.hamburger {
    --transition: 600ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3rem;
    transition: transform var(--transition);
}

.hamburger .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    transition:
        stroke-dasharray var(--transition),
        stroke-dashoffset var(--transition);
}

.hamburger .lineTopBottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .lineTopBottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
